.stopButton {
    padding: 0.5rem 1rem;

    font-weight: 600;
    cursor: pointer;

    border: 2px solid rgba(165, 165, 165, 0.2);
    border-radius: 0.5rem;
    color: black;
    background-color: white;
    transition-duration: 0.3s;
}

.stopButtonColored, .stopButton:hover {
    padding: 0.5rem 1rem;

    font-weight: 600;
    cursor: pointer;

    border: 2px solid rgba(165, 165, 165, 0.3);
    border-radius: 0.5rem;
    transition-duration: 0.3s;

    color: white;
    background-color: var(--gradient-color1);
    border: 2px solid var(--gradient-color1);
}