:root {
    --gradient-color1: #049CC4;
    --gradient-color2: #691BF0;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

section {
    margin-bottom: 1rem;
}

section:first-child {
    margin-top: 0;
}

h2 {
    margin: 0.5rem 0;
}

#container {
    width: 20rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 1rem;

    color: rgb(255, 255, 255);
    background: linear-gradient(90deg, var(--gradient-color1), var(--gradient-color2));
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
    z-index: 3;
}

#contentContainer {
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
}

.title1 {
    font-size: 2rem;
    font-weight: 800;
}


.maps {
    margin: 0 1rem;

    font-weight:200;
    font-size: 1rem;

    color: white;

    border: none;
    background-color: transparent;
}

#buttonContainer {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.stopButton {
    padding: 0.5rem 1rem;

    font-weight: 600;
    cursor: pointer;

    border: 2px solid rgba(165, 165, 165, 0.3);
    border-radius: 0.5rem;
    color: black;
    background-color: white;
    transition-duration: 0.3s;
}

.stopButton:hover {
    box-shadow: 0px 0px 10px 2px rgb(255, 255, 255, 0.5);
}

#button1 {
    background-color: rgba(48, 78, 255, 1);
    color: white;
}

// Prediction
#predictionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#timesContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.awaitTime {
    text-align: center;
}

// Stops
#stop1, #stop2, #stop3, #stop4, #stop5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);

}

#stop1 {
    display: flex;
}

#stop2 {
    display: none;
}

#stop3 {
    display: none;
}

#stop4 {
    display: none;
}

#stop5 {
    display: none;
}