.stop1, .stop2, .stop3, .stop4, .stop5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);

}

.stop1 {
    display: flex;
}

.stop2, .stop3, .stop4, .stop5 {
    display: none;
}

.timesContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.awaitTime {
    text-align: center;
}