.container {
    display: flex;
    flex-direction: column;
}

.timesContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.awaitTime {
    text-align: center;
}

.active {
    display: flex;
    margin-bottom: 0.5rem;
}

.inactive {
    display: none;
}

.timeActive {
    display: flex;
}

.timeInactive {
    display: none;
}