:root {
    color-scheme: dark;
    --background-color1: #10151D;
    --background-color2: #131F33;
}

#app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: right;

    // background-color: rgb(16 21 29 / var(1));
    background: radial-gradient(circle at 55% -30%, var(--background-color2) 15%, var(--background-color1) 50%);
}

#container {
position: fixed;
left: 4rem;
}

canvas {
    overflow: hidden;
    background-color: transparent;
    position: relative;
    z-index: 2;
}